{% extends 'admin/base.html' %}

{% load static %}
{% block favicon %}
        <link rel = "icon" type = "imagem/png" href = "{% static 'img/icon.png' %}"/>
{% endblock favicon %}
{% block titulo %}Administração{% endblock titulo %}
{% block branding %}
    <h1 id="head">
        <img src="{% static 'img/logo-diote.png' %}"
             style="width:264px; height: 55px; margin-right: 10px;"> Administração das Reservas
    </h1>
{%endblock%}

{%block extrastyle%}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{%endblock%}